# Экзамен по курсу "Аналитика данных на Python"

Этот тест проверит Ваши навыки работы с таблицами данных с помощью библиотек pandas и numpy. Задания делятся на простые (⭐️), средние (⭐️⭐️) и сложные (⭐️⭐️⭐️). Решение простых заданий, как правило, требует одной-двух операций с таблицами, тогда как для более сложных может потребоваться несколько последовательных преобразований данных.

##  Предыстория

Сегодня Ваш первый день работы в крупном интернет-магазине, который продаёт товары с доставкой по всему миру. Ваша первая задача – проанализировать базу данных покупок, совершённых в магазине за последние несколько лет. База содержит информацию об отдельных транзакциях, про каждую из которых известны номер инвойса (InvoiceNo), дата инвойса(InvoiceDate), код товара (StockCode), описание товара(Description), количество товара в транзакции (Quantity), стоимость единицы товара (UnitPrice), код покупателя (CustomerID), страна покупателя (Country).

База выгружена для Вас в формате CSV: файл [```online-retail.csv```](https://drive.google.com/file/d/1O1oJtpEu-u6s6xTu7seQfnNcQjYCt0GF/view?usp=sharing)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## ⭐️ Вопрос 1

Загрузите данные из файла online-retail.csv в переменную типа pandas DataFrame

Подсказка: Используйте функцию из библиотеки pandas

Какой символ-разделитель используется в этом файле?

* Запятая ","
* Двоеточие ":"
* Точка с запятой ";"
* Символ табуляции "tab"

#### Решение

In [2]:
data = pd.read_csv('online-retail.csv', sep=';')
data.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## ⭐️ Вопрос 2

Сколько строк в полученной таблице (не считая заголовков столбцов)?

#### Решение

In [3]:
len(data.index)

541911

## ⭐️ Вопрос 3

Сколько столбцов в полученной таблице (не считая индекса)?

#### Решение

In [4]:
len(data.columns)

8

## ⭐️ Вопрос 4

Как называется столбец с самым коротким названием?

#### Решение

In [5]:
col_names = list(data.columns.values)
col_names.sort(key=len)
col_names

['Country',
 'Quantity',
 'InvoiceNo',
 'StockCode',
 'UnitPrice',
 'CustomerID',
 'Description',
 'InvoiceDate']

## ⭐️ Вопрос 5

В скольких столбцах встречаются пропущенные значения? (ответ - целое число)

#### Решение

In [6]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1455
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

## ⭐️ Вопрос 6

Сколько пропущенных значений в столбце CustomerID? (ответ - целое число)

#### Решение

In [7]:
data.CustomerID.isnull().sum()

135080

## ⭐️⭐️ Вопрос 7

Посмотрим, данные за какой исторический период у нас есть. 

Данные за какой самый ранний и за какой самый поздний годы содержатся в датасете? В ответе укажите два целых числа через запятую.

#### Решение

In [8]:
print(data.InvoiceDate.min(),'\n', data.InvoiceDate.max())

2010-12-01 08:26:00
 2011-12-09 12:52:00

## ⭐️ Вопрос 8

Каковы минимальная и максимальная цена товаров (UnitPrice)? Перечислите через запятую. Цена в этом задании может принимать отрицательные значения.

#### Решение

In [9]:
print(data.UnitPrice.min(),'\n', data.UnitPrice.max())

-11062.06
 38970.0

## ⭐️ Вопрос 9

В таблице оказались товары с отрицательными ценами! Это явно какая-то ошибка. Какое описание (Description) у таких транзакций? Перечислите все варианты через запятую, отсортировав строки по алфавиту.

#### Решение

In [10]:
desc_list = sorted(data[data['UnitPrice'] < 0]['Description'].tolist())
for each in desc_list:
    print(each, end=',')

Adjust bad debt,Adjust bad debt,

## ⭐️ Вопрос 10

Поищем ещё возможные проблемы с данными. Как насчёт товаров с нулевыми ценами? 

Сколько в таблице транзакций с нулевой ценой? А с пропусками на месте цены? 

Перечислите два целых числа через запятую.

#### Решение

In [11]:
print(data[data['UnitPrice'] == 0].InvoiceNo.count())
data['UnitPrice'].isnull().values.any()

2515

False

## ⭐️⭐️ Вопрос 11

Для дальнейшего анализа поведения покупателей нам понадобится набор данных, в которых у каждой транзакции корректно указана цена, количество единиц товара (Quantity) и id покупателя (CustomerID). Удалите из таблицы все строки, в которых цена не превосходит 0 или пропущена, или количество единиц товара не превосходит 0 или пропущено, или в которых пропущен id покупателя. 

Сколько строк осталось?

#### Решение

In [12]:
new_data = data.copy()
new_data = new_data[(new_data['UnitPrice'] >= 0) & (new_data['Quantity'] >= 0) & (new_data['CustomerID'].notnull())]
new_data.isnull().sum()
len(new_data.index)

397926

## Внимание! 

### Везде далее мы работаем с очищенной таблицей, полученной в Вопросе 11.

## ⭐️⭐️ Вопрос 12

В таблице для каждой транзакции указаны цена за единицу товара (UnitPrice) и количество единиц товара (Quantity). Вычислите для каждой транзакции её **полную стоимость** и сохраните в новом столбце Price, который добавьте в таблицу. 

Каковы минимальная и максимальная полная стоимость транзакций? Перечислите через запятую, округлив до целых чисел.

#### Решение

In [13]:
new_data['Price'] = new_data.Quantity * new_data.UnitPrice
print(new_data.Price.min(),'\n', new_data.Price.max())

0.0
 168469.6

## ⭐️⭐️ Вопрос 13

В нашей базе данных каждая покупка представлена одной или несколькими транзакциями. Покупка однозначно определяется своим номером инвойса (InvoiceNo). Транзакции, относящиеся к одной покупке, имеют один и тот же InvoiceNo. 

Стоимость всей покупки равна сумме полных стоимостей транзакций, входящих в неё. Найдите стоимости трёх самых дорогих покупок. Перечислите через запятую в порядке убывания, округлив до целых чисел.

#### Решение

In [14]:
new_data.sort_values('Price', ascending=False).head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Price
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom,168469.60
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.60
222680,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098.0,United Kingdom,38970.00
173382,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029.0,United Kingdom,8142.75
348325,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450.0,United Kingdom,7144.72

## ⭐️⭐️ Вопрос 14

Какой товар составил наибольшую выручку? В ответе укажите описание товара (дословно строку из соответствующего поля в столбце Description).

#### Решение

In [15]:
new_data.groupby('StockCode').agg({'Quantity': 'sum', 'Description': 'sum', 'Price': 'sum'}).sort_values('Price', ascending=False).head()

,Quantity,Description,Price
StockCode,,,
23843,80995,"PAPER CRAFT , LITTLE BIRDIE",168469.60
22423,12412,REGENCY CAKESTAND 3 TIERREGENCY CAKESTAND 3 TI...,142592.95
85123A,36782,WHITE HANGING HEART T-LIGHT HOLDERWHITE HANGIN...,100603.50
85099B,46181,JUMBO BAG RED RETROSPOTJUMBO BAG RED RETROSPOT...,85220.78
23166,77916,MEDIUM CERAMIC TOP STORAGE JARMEDIUM CERAMIC T...,81416.73

## ⭐️⭐️ Вопрос 15

Создайте новую таблицу purchases, в которой каждая строка будет соответствовать отдельной покупке, со столбцами 
InvoiceNo, InvoiceDate, Price, CustomerID, Country.

Поскольку дата InvoiceDate может быть отличаться для разных транзакций внутри одной покупки, при группировке возьмите самую раннюю из дат. Также отсортируйте её по датам по возрастанию.

Учтите, что InvoiceDate — не уникальное поле, данные стоит дополнительно отсортировать по InvoiceNo, перед тем как брать первое значение группы.

Сколько получилось строк?

#### Решение

In [16]:
purchases = new_data.copy()
purchases = purchases.groupby('InvoiceNo').agg({'InvoiceDate': 'min', 'Price': 'sum', 'CustomerID': 'mean', 'Country': lambda s: ''.join(set(s))}).sort_values(['InvoiceDate', 'InvoiceNo'], ascending=[True, True])
len(purchases.index)

18537

## ⭐️⭐️ Вопрос 16

Исследуем, растут или убывают покупки наших клиентов после их первой покупки на сайте. Найдите среднюю цену первых покупок клиентов: для каждого клиента возьмите его первую покупку и усредните эти значения. Найдите среднюю цену покупок в целом. Округлите эти числа до целых и перечислите в этом порядке через запятую.

\* При равных TimeStamp по покупкам первой считается покупка с меньшим InvoiceNo.

#### Решение

In [17]:
print(round(purchases.groupby('CustomerID').agg({'Price': 'first'})['Price'].mean()))
print(round(purchases.Price.mean()))

426
481

## ⭐️⭐️⭐️ Вопрос 17

В какой день недели было наибольшее число покупок? В ответе укажите русское название дня недели, начинающееся с заглавной буквы.


Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите день недели, в который она была совершена. Сохраните в новый столбец.
* Сгруппируйте таблицу по дням недели.

#### Решение

In [18]:
purchases['Date'] = pd.to_datetime(purchases['InvoiceDate'])
purchases['Day_of_Week'] = purchases.Date.dt.day_of_week
purchases['Day_Name'] = purchases.Date.dt.day_name()
purchases['Day'] = purchases.Date.dt.day
purchases['Year'] = purchases.Date.dt.year
purchases['Mounth'] = purchases.Date.dt.month

purchases.groupby('Day_Name').agg({'Price': 'sum'})['Price'].idxmax()

'Thursday'

## ⭐️⭐️⭐️ Вопрос 18

В какой год и месяц выручка была максимальной?

Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите год и месяц, в которые она была совершена. Сохраните в новые столбцы.
* Сгруппируйте таблицу по новым столбцам

В ответе укажите два целых числа через запятую: год, месяц

#### Решение

In [19]:
purchases.groupby(['Year', 'Mounth']).agg({'Price': 'sum'})['Price'].idxmax()

(2011, 11)

## ⭐️⭐️⭐️ Вопрос 19

Магазин продаёт товары покупателям из разных стран (Country). В какой стране был наибольший процентный рост месячных продаж, если сравнить март 2011 и сентябрь 2011? Сколько процентов составил этот рост? В расчёт брать только страны, в которых были ненулевые продажи в обоих этих месяцах. В ответе укажите через запятую название страны и целое число (процентный рост, округлённый до целого числа).

#### Решение

In [20]:
def agg_func(x):
    result = {
        '03_2011': x[x.Mounth == 3].Price.sum(),
        '09_2011': x[x.Mounth == 9].Price.sum()
    }
    return pd.Series(result)

purchases_period = purchases[(purchases['Year'] == 2011) & ((purchases['Mounth'] == 3) | (purchases['Mounth'] == 9))]
pp1 = purchases_period.groupby(['Country']).apply(agg_func)
pp1 = pp1[(pp1['03_2011'] > 0) & (pp1['09_2011'] > 0)]
pp1['growth'] = round(((pp1['09_2011'] - pp1['03_2011']) / pp1['03_2011']) * 100, 1)
pp1.sort_values('growth', ascending=False).head(3)

             03_2011  09_2011  growth
Country
Norway       1265.31  8678.94   585.9
Switzerland  1870.23  8284.86   343.0
Japan          48.90   112.08   129.2

## ⭐️⭐️⭐️ Вопрос 20

Большинство клиентов все свои покупки делают из одной и той же страны. Выясним, однако, насколько велика доля путешественников среди клиентов. 
Сколько клиентов сделали покупки по крайней мере из двух разных стран? (ответ - целое число)

#### Решение

In [28]:
purchases['Country2'] = purchases.apply(lambda purchases: str(purchases.Country).replace(' ', '_'), axis=1)

In [36]:
pp2 = purchases.reset_index().groupby('CustomerID').agg({'Price': sum, 'InvoiceNo': lambda x: ' '.join(x), 'Country2': lambda x: ' '.join(x)})
pp2['Country3'] = pp2.apply(lambda pp2: set(str(pp2.Country2).split()), axis=1)
pp2['Country_nbr'] = pp2.apply(lambda pp2: len(pp2.Country3), axis=1)
len(pp2[pp2['Country_nbr'] > 1].index)

8

## ⭐️⭐️⭐️ Вопрос 21

Мы запускаем в Италии рекомендательную систему "С этим товаром часто покупают...", и для этого хотим узнать, какие различные товары чаще всего встречаются в одной покупке из этой страны. Определите, какая пара различных товаров чаще всего встречается в различных покупках с ```Country=='Italy'```, и в скольких покупках это происходит. Одинаковые товары или нет, проверяйте по равенству поля Description. 

(ответ: название (Description) первого товара, название (Description) второго товара, целое число)

#### Решение

In [77]:
pp4 = data[data.Country == 'Italy']
pp5 = pp4.groupby('InvoiceNo').agg({'Description': list}).reset_index()
descriptions_list_of_lists = pp5.Description.to_list()

In [80]:
from itertools import combinations
from collections import Counter

def collect_pairs(lines):
    pair_counter = Counter()
    for line in lines:
        unique_tokens = sorted(set(line))
        combos = combinations(unique_tokens, 2)
        pair_counter += Counter(combos)
    return pair_counter

pairs = collect_pairs(descriptions_list_of_lists)
print(pairs.most_common(5))

[(('TOY TIDY PINK POLKADOT', 'TOY TIDY SPACEBOY'), 6), (('SET OF TEA COFFEE SUGAR TINS PANTRY', 'VINTAGE CREAM DOG FOOD CONTAINER'), 6), (('JAM MAKING SET WITH JARS', 'SET OF 3 CAKE TINS PANTRY DESIGN'), 6), (('VINTAGE CREAM CAT FOOD CONTAINER', 'VINTAGE CREAM DOG FOOD CONTAINER'), 6), (('PLASTERS IN TIN CIRCUS PARADE', 'PLASTERS IN TIN WOODLAND ANIMALS'), 5)]